language: objective-c
osx_image: xcode7.2
script:
- xctool -project Xcode/MetricUnits/MetricUnits.xcodeproj -scheme MetricUnits -sdk iphonesimulator clean build test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
